*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #505c68;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1240px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
}


/*  ----------- menu --------------- */

.menu__section {
  border-right: 1px solid #e0ffff3f;
  width: 20%;
  height: 100vw;
}

.menu {
  padding-top: 30px;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  width: fit-content;
  padding: 15px 10px;
  font-size: 22px;
  font-weight: 600;
  color: #E0FFFF;
  display: flex;
  text-decoration: none;
  user-select: none;
  transition: all .1s ease;
}

.logo:hover {
  transform: scale(1.07);
  color: black;
}

.menu__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menu__item {
  padding: 10px 10px;
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: .1s;
}

.menu__item:hover {
  background-color: #434d57;
}

.menu__item:first-child {
  margin-top: 50px;
}

.menu__link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}

.menu__icons {
  font-size: 25px;
  margin-right: 10px;
}

.menu__icons-filled {
  position: absolute;
  opacity: 0;
}

.menu__item:hover .menu__icons {
  opacity: 0;
}

.menu__item:hover .menu__icons-filled {
  opacity: 1;
}

.form {
  margin-top: 80px;
  height: fit-content;
  user-select: none;
}

.form__search {
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #E0FFFF;
}

.form__search::placeholder {
  color: black;
  font-weight: 600;
  transition: opacity .3s ease;
}

.form__search:focus::placeholder {
  opacity: 0;
}

/* ---------------- end - menu -------------------*/




/* ------------------ content ------------------- */
.content__section {
  margin-top: 30px;
  width: 80%;
  padding: 0 20px;
}

.content__top{
  display: flex;
}

.top__text {
  margin: 0 auto;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  transition: color .3s ease;
  user-select: none;
}

.top__text:hover {
  color: #E0FFFF;
}

.top__btn{
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #E0FFFF;
  height: 30px;
  border-radius: 15px;
  position: relative;
}

.slider{
  width: 25px;
  height: 25px;
  background-color: #434d57;
  border-radius: 50%;
  position: absolute;
  top: 2.35px;
  left: 3px;
  transition: all .3s ease;
}

.day{
  cursor: pointer;
  border-radius: 15px;
  transition: all .3s ease;
}

.night{
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all .3s ease;
  color: #E0FFFF;
}

.content__heading {
  font-size: 32px;
  margin-bottom: 5px;
}

.content__icon {
  margin-left: 15px;
  font-size: 35px;
}

.content__list {
  padding-bottom: 5px;
  list-style-type: none;
  display: flex;
  /* overflow: auto; */
  user-select: none;
}

.content__list::-webkit-scrollbar {
  height: 7px;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #434d57;
  border-radius: 20px;
  border: 3px solid #434d57;
}

.content__item {
  width: fit-content;
  height: min-content;
  padding: 10px 15px;
  background-color: #434d57;
  border-radius: 50px;
}

.content__item:hover{
  opacity: .8;
}

.content__item ~ .content__item{
  margin-left: 6px;
}

.content__link{
  color: #e0ffffaf;
  text-decoration: none;
}

/* movies */

.movies{
  margin-top: 50px;
}

.tablet__list{
  margin: 0px;
  padding: 0px;
  list-style-type:none;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tablet__item{
  margin-bottom: 15px;
  width: 31%;
  background-color: #434d57;
  border-radius: 10px;
  padding: 10px;
  transition: transform .1s ease;
  cursor: pointer;
}

.tablet__item:hover{
  transform: scale(1.05);
}

.tablet__box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.tablet__img{
  transition: opacity .1s ease;
  border-radius: 8px;
  user-select: none;
}

.tablet__item:hover .tablet__img{
  opacity: .6;
}

.tablet__subheading{
  margin: 5px 0;
  margin-bottom: 25px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.tablet__rating{
  color: #e0ffff7a;
  margin: 5px 0;
}

.tablet__icons-box{
  margin: 5px 0;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}

.tablet__icons{
  margin-left: 5px;
  font-size: 22px;
  transition: opacity .3s ease;
}

.tablet__icons-filled{
  position: absolute;
  right: 0;
  opacity: 0;
}

.tablet__icons-box:hover .tablet__icons-filled{
  opacity: 1;
}

.tablet__link{
  width: fit-content;
  text-decoration:none;
  color:black;
}

.tablet__link:hover{
  color: #E0FFFF;
}


.popup {
  display: none;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.popup__wrapper{
  margin: auto;
  margin-top: 120px;
  padding: 30px;
  width: 70%;
  height: fit-content;
  border-radius: 20px;
  background-color: #434d57d5;
}

.popup__content{
  display: flex;
  justify-content: space-between;
  height: 59%;
  margin-bottom: 20px;
}

.popup_img{
  width: 47%;
}

.popup__text{
  width: 50%;
  color: #e0ffffbe;
  line-height: 20px;
}

.popup__heading{
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #E0FFFF;
}


.popup__bottom{
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.popup__bottom-left{
  width: 47%;
}

.popup__bottom-right{
  width: 50%;
}

.popup__icons{
  font-size: 20px;
}




/* picker */

.picker{
  margin: 0px;
  padding: 0px;
  list-style-type:none;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.picker__item{
  margin: 10px 5px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #E0FFFF;
  cursor: pointer;
}

.picker__item:hover{
  opacity: 0.5 !important;
}



.popup__left-wrapper{
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.popup__icons-box{
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.popup__bookmark{
  margin-right: 5px;
}

.popup__icons-box:hover .popup__icons-filled{
  opacity: 1;
}

.popup__icons-filled{
  position: absolute;
  right: 0;
  opacity: 0;
}

.popup__link{
  text-decoration:none;
  color:black;
}

.popup__link:hover{
  color: #E0FFFF;
}

.popup__form{
  display: flex;
  align-items: center;
}

.popup__tick{
  padding: 5px;
  width: 80px;
  margin-right: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
}

.popup__form-wrapper{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup__date-wrapper{
  display: flex;
}

.popup__date{
  padding-right: 5px;
}

.popup__time{
  padding: 0px 5px;
  border-left: 1px solid #e0ffff7e;
}

.popup__room{
  padding: 0px 5px;
  border-left: 1px solid #e0ffff7e;
}

.popup__place{
  padding-left: 5px;
  border-left: 1px solid #e0ffff7e;
}

.left__bottom{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__bottom-img-wrapper{
  display: flex;
  align-items: center;
}

.left__bottom-img:first-child{
  margin-right: 10px;
}

.left__bottom-img:last-child{
  margin-left: 10px;
}

.popup__bottom-text{
  width: 70%;
  color: #e0ffff7a;
  line-height: 18px;
}
/* ------------------ end - content ------------------- */